#cores_hex{
/* CSS HEX */
--sgbus-green: #7ddf64ff;
--mindaro: #c0df85ff;
--tan: #deb986ff;
--bright-pink-crayola: #db6c79ff;
--bright-pink-crayola-2: #ed4d6eff;
}

#cores_hsl{
/* CSS HSL */
--sgbus-green: hsla(108, 66%, 63%, 1);
--mindaro: hsla(81, 58%, 70%, 1);
--tan: hsla(35, 57%, 70%, 1);
--bright-pink-crayola: hsla(353, 61%, 64%, 1);
--bright-pink-crayola-2: hsla(348, 82%, 62%, 1);
}
