p{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #fef9ef;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    width: auto;
    height: none;
    color: #227C9D
}

nav {
    float: left;
    width: 200px;
    height: 1000px;
    background: #ffcb77;
    color: #fef9ef;
    font-size: 20px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    padding: 20px;
    float: left;
    background-color: #17C3B2;
    text-align: center;
    font-size: none;
    color: #fef9ef
}

section {
    content: "";
    display: table;
    clear: both;

}

footer {
    background-color: #fef9ef;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: #227C9D
}