.borda_do_cartao{
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}

.borda_do_cartao .caixa{
    background-color: white;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
}

img{
    float: inline-start;
    padding: 30px;
}

h1{
    font-size: large;
}

h2{
    font-size: small;
}

h3{
    font-size: medium;
}
h4{
    font-size: small;
}